* {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
}

nav {
    position: fixed;
    inset: 0 0 auto 0;
    width: var(--nav-width);
    background: #9b0054;
    display: flex;
    justify-content: end;
}

nav a {
    color: #eeeeee;
    display: block;
    padding: 1rem;
}

nav a:hover {
    background: rgb(255 58 58 / 74%);
}

.app {
    margin: 4rem 2em;
}

.app a {
    color: #0c0095;
}

.app ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app ul li{
    max-width: 30rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article{
    display: flex;
    gap: 1rem;
}
.article img{
    width: 30rem;
    height: initial;
}

